### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [351]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# # Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [352]:
#create a dataframe with blanks to hold the Total Summary data
Tsum_df = pd.DataFrame({'Total Schools':[0], 'Total Students':[0], 'Total Budget':[0], 'Average Math Score':[0], 
                           'Average Reading Score':[0],'% Passing Math':[0], '% Passing Reading':[0], 
                           '% Overall Passing':[0]})

#count unique schools for total number of schools
Tsum_df['Total Schools'] = school_data_complete['school_name'].nunique()

#count total students and format on second line (I can't figure out how to do in one line)
Tsum_df['Total Students'] = school_data_complete['Student ID'].count()
Tsum_df['Total Students']=Tsum_df['Total Students'].map("{:,}".format)

#create a dataframe of unique schools and their budget...
tschools_df = school_data_complete.groupby('school_name')['budget'].unique()
#...use the sum of this for the total budget
Tsum_df['Total Budget'] = tschools_df.sum()
Tsum_df['Total Budget']=Tsum_df['Total Budget'].map("${:,}".format)

#mean of the total math scores and reading scores
Tsum_df['Average Math Score'] = school_data_complete['math_score'].mean()
Tsum_df['Average Math Score']=Tsum_df['Average Math Score'].map("{:,.2f}".format)
Tsum_df['Average Reading Score'] = school_data_complete['reading_score'].mean()
Tsum_df['Average Reading Score']=Tsum_df['Average Reading Score'].map("{:,.2f}".format)

#count of scores over or equal to 70 divided by the total students
passM = (school_data_complete["math_score"] >= 70).sum()
Tsum_df['% Passing Math'] = (passM/school_data_complete['Student ID'].count())*100
Tsum_df['% Passing Math']=Tsum_df['% Passing Math'].map("{:,.2f}%".format)

#Reading like math above
passR = (school_data_complete["reading_score"] >= 70).sum()
Tsum_df['% Passing Reading'] = (passR/school_data_complete['Student ID'].count())*100 
Tsum_df['% Passing Reading']=Tsum_df['% Passing Reading'].map("{:,.2f}%".format)

#passing math & reading
passO = ((school_data_complete["math_score"] >= 70)&(school_data_complete["reading_score"] >= 70)).sum()
Tsum_df['% Overall Passing'] = (passO/school_data_complete['Student ID'].count())*100
Tsum_df['% Overall Passing']=Tsum_df['% Overall Passing'].map("{:,.2f}%".format)

#formatting cleaned to 2 dec places
Tsum_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",78.99,81.88,74.98%,85.81%,65.17%

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [353]:
# okay, I'm creating a new dataframe and renaming columns and then grouping by school name
Ssum_df = school_data_complete[['school_name','type',"student_name"]]
Ssum_df = Ssum_df.rename(columns={'type':'School Type','student_name':'Total Students','school_name':'School Name'})
Ssum_df = Ssum_df.groupby(["School Name"]).count()

# School type (total students is summed by the groupby above)
SchoolSUM_df = school_data_complete.groupby('school_name')['type'].unique()
Ssum_df['School Type'] = SchoolSUM_df.str[0]
# adding comma to Total students
Ssum_df['Total Students']=Ssum_df['Total Students'].map("{:,}".format)

# budget by school with formatting (with needless decimal removed)
SchoolSUM_df = school_data_complete.groupby('school_name')['budget'].unique()
Ssum_df['Total School Budget'] = SchoolSUM_df.str[0]
Ssum_df['Total School Budget']=Ssum_df['Total School Budget'].map("${:,}".format)

# dividing the budget by the count using the direct reference to the _complete Data frame.  Could have uesd variables like above but wanted to work out the syntax here
Ssum_df['Per Student Budget'] = (school_data_complete.groupby('school_name')['budget'].unique()/school_data_complete.groupby('school_name')['Student ID'].count()).astype(int)
Ssum_df['Per Student Budget'] = Ssum_df['Per Student Budget'].map("${:,}".format)

# avg math and reading scores(same precision as above)
SchoolSUM_df = school_data_complete.groupby(['school_name'])
Ssum_df['Average Math Score'] =  SchoolSUM_df['math_score'].sum()/SchoolSUM_df['math_score'].count()
Ssum_df['Average Math Score'] = Ssum_df['Average Math Score'].map("{:,.2f}".format)
Ssum_df['Average Reading Score'] = SchoolSUM_df['reading_score'].sum()/SchoolSUM_df['reading_score'].count()
Ssum_df['Average Reading Score'] = Ssum_df['Average Reading Score'].map("{:,.2f}".format)

# Gets the count of math scores over 70 and divides by the total students
Letspassmath_df = school_data_complete.loc[school_data_complete["math_score"] >= 70, :]
MathSUM_df = Letspassmath_df.groupby(['school_name'])
Ssum_df['% Passing Math'] = (MathSUM_df['math_score'].count()/SchoolSUM_df['math_score'].count())*100
Ssum_df['% Passing Math'] = Ssum_df['% Passing Math'].map("{:,.2f}%".format)
# reading same as math above
Letspassreading_df = school_data_complete.loc[school_data_complete["reading_score"] >= 70, :]
ReadingSUM_df = Letspassreading_df.groupby(['school_name'])
Ssum_df['% Passing Reading'] = (ReadingSUM_df['reading_score'].count()/SchoolSUM_df['reading_score'].count())*100
Ssum_df['% Passing Reading'] = Ssum_df['% Passing Reading'].map("{:,.2f}%".format)
# passing both math and reading -merging prior grouss to group by StudentID
merge_df = pd.merge(Letspassmath_df, Letspassreading_df, on="Student ID") 
BothSUM_df = merge_df.groupby(['school_name_x'])
Ssum_df['% Overall Passing'] = (BothSUM_df['school_name_x'].count()/SchoolSUM_df['school_name'].count())*100
Ssum_df['% Overall Passing'] = Ssum_df['% Overall Passing'].map("{:,.2f}%".format)

#print result (after removing the column header for school to match the example)
Ssum_df = Ssum_df.rename_axis(None)
Ssum_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,"4,976","$3,124,928",$628,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916",$644,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087",$581,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600",$600,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400",$583,83.68,83.95,93.33%,96.61%,90.33%

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [354]:
BestOverall_df = Ssum_df.sort_values("% Overall Passing", ascending=False)
BestOverall_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.06,83.98,94.13%,97.04%,91.33%
Thomas High School,Charter,"1,635","$1,043,130",$638,83.42,83.85,93.27%,97.31%,90.95%
Griffin High School,Charter,"1,468","$917,500",$625,83.35,83.82,93.39%,97.14%,90.60%
Wilson High School,Charter,"2,283","$1,319,574",$578,83.27,83.99,93.87%,96.54%,90.58%
Pena High School,Charter,962,"$585,858",$609,83.84,84.04,94.59%,95.95%,90.54%

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [355]:
WorstOverall_df = Ssum_df.sort_values("% Overall Passing", ascending=True)
WorstOverall_df.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Rodriguez High School,District,"3,999","$2,547,363",$637,76.84,80.74,66.37%,80.22%,52.99%
Figueroa High School,District,"2,949","$1,884,411",$639,76.71,81.16,65.99%,80.74%,53.20%
Huang High School,District,"2,917","$1,910,635",$655,76.63,81.18,65.68%,81.32%,53.51%
Hernandez High School,District,"4,635","$3,022,020",$652,77.29,80.93,66.75%,80.86%,53.53%
Johnson High School,District,"4,761","$3,094,650",$650,77.07,80.97,66.06%,81.22%,53.54%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [356]:
# I left this in because I REALLY need to know what to do here.  The below took hours, all to capture and sort by grade 
# I could have just used "grades = pd.Series(["9th", "10th", "11th", "12th"])" but nooooo I have to be all fancy
grades = pd.Series(school_data_complete["grade"]).unique()#get the grades
grades = [item.replace("th", "") for item in grades]#remove "th" from grades
grades = list(map(int, grades))# convert strings to integers
grades.sort() # correctly sort
grades = list(map(str, grades)) # turn them back into strings
grades = [item +"th" for item in grades] #add the "th" back
#finally I can create a dataframe with schools and grades
#schools = pd.Series(school_data_complete["school_name"]).unique()
#Msum_df = pd.DataFrame(columns=[grades], index=[schools])

# I would love to do this conditionally using grades from above

# for i, val in enumerate(grades):

# #for item in grades:
#     i = school_data_complete.loc[school_data_complete["grade"] == i, :].groupby(['school_name'])['math_score'].mean()
#     if i == "9th": #should be index of 9th
#         Msum_df = pd.DataFrame(i.map("{:,.2f}".format))
#     else Msum_df[grades[i]] = i.map("{:,.2f}".format)

# Like above except I'm using mean rather than doing the calculation.  Which means I should revist above
# basically I combined all of the lines onto on line and should fix the first few charts       
math9 = school_data_complete.loc[school_data_complete["grade"] == '9th', :].groupby(['school_name'])['math_score'].mean()
Msum_df = pd.DataFrame(math9.map("{:,.2f}".format))
math10 = school_data_complete.loc[school_data_complete["grade"] == '10th', :].groupby(['school_name'])['math_score'].mean()
Msum_df['10th'] = math10.map("{:,.2f}".format)
math11 = school_data_complete.loc[school_data_complete["grade"] == '11th', :].groupby(['school_name'])['math_score'].mean()
Msum_df['11th'] = math11.map("{:,.2f}".format)
math12 = school_data_complete.loc[school_data_complete["grade"] == '12th', :].groupby(['school_name'])['math_score'].mean()
Msum_df['12th'] = math12.map("{:,.2f}".format)

Msum_df = Msum_df.rename_axis(None)
Msum_df.columns = grades
Msum_df = Msum_df.style.set_properties(**{'text-align': 'center'})
Msum_df

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [357]:
read9 = school_data_complete.loc[school_data_complete["grade"] == '9th', :].groupby(['school_name'])['reading_score'].mean()
Rsum_df = pd.DataFrame(read9.map("{:,.2f}".format))
read10 = school_data_complete.loc[school_data_complete["grade"] == '10th', :].groupby(['school_name'])['reading_score'].mean()
Rsum_df['10th'] = read10.map("{:,.2f}".format)
read11 = school_data_complete.loc[school_data_complete["grade"] == '11th', :].groupby(['school_name'])['reading_score'].mean()
Rsum_df['11th'] = read11.map("{:,.2f}".format)
read12 = school_data_complete.loc[school_data_complete["grade"] == '12th', :].groupby(['school_name'])['reading_score'].mean()
Rsum_df['12th'] = read12.map("{:,.2f}".format)

Rsum_df = Rsum_df.rename_axis(None)
Rsum_df.columns = grades
Rsum_df = Rsum_df.style.set_properties(**{'text-align': 'center'})
Rsum_df

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [358]:
# bins and labels  for stuff
bins = [0, 585, 628, 644, 675]
group_names = ["<$584", "$585-629", "$630-644", "$645-675"]

# Make a new dataframe from the School Sum
SpendScores_df = pd.DataFrame(Ssum_df.copy())
# I've got to get the dollar sign and percent signs out of the columns and make integers
# I'm basically having to recalculate everything to get integers (don't like it but satisfies the ask)
SpendScores_df['Per Student Budget'] = (school_data_complete.groupby('school_name')['budget'].unique()/school_data_complete.groupby('school_name')['Student ID'].count()).astype(int)
SpendScores_df['% Passing Math'] = (MathSUM_df['math_score'].count()/SchoolSUM_df['math_score'].count())*100
SpendScores_df['% Passing Reading'] = (ReadingSUM_df['reading_score'].count()/SchoolSUM_df['reading_score'].count())*100
SpendScores_df['% Overall Passing'] = (BothSUM_df['school_name_x'].count()/SchoolSUM_df['school_name'].count())*100
SpendScores_df['Average Math Score'] =  SchoolSUM_df['math_score'].sum()/SchoolSUM_df['math_score'].count()
SpendScores_df['Average Reading Score'] = SchoolSUM_df['reading_score'].sum()/SchoolSUM_df['reading_score'].count()

# Create the column applying the bins and lables
SpendScores_df["Spending Ranges (Per Student)"] = pd.cut(SpendScores_df["Per Student Budget"], bins, labels=group_names, include_lowest=True)

# delete unneeded columns
del SpendScores_df['School Type']
del SpendScores_df['Total Students']
del SpendScores_df['Per Student Budget']
del SpendScores_df['Total School Budget']

# Groupby to get the chart
SpendScores_df = SpendScores_df.groupby("Spending Ranges (Per Student)").mean()
#put the formatting back
SpendScores_df['Average Math Score'] = SpendScores_df['Average Math Score'].map("{:,.2f}".format)
SpendScores_df['Average Reading Score'] = SpendScores_df['Average Reading Score'].map("{:,.2f}".format)
SpendScores_df['% Passing Math'] = SpendScores_df['% Passing Math'].map("{:,.2f}%".format)
SpendScores_df['% Passing Reading'] = SpendScores_df['% Passing Reading'].map("{:,.2f}%".format)
SpendScores_df['% Overall Passing'] = SpendScores_df['% Overall Passing'].map("{:,.2f}%".format)
SpendScores_df = SpendScores_df.style.set_properties(**{'text-align': 'center'})
SpendScores_df

## Scores by School Size

* Perform the same operations as above, based on school size.

In [349]:
# bins and labels  for stuff
bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

# Make a new dataframe from the School Sum
SizeScores_df = pd.DataFrame(Ssum_df.copy())
# I've got to get the dollar sign and percent signs out of the columns and make integers
# I'm basically having to recalculate everything to get integers (don't like it but satisfies the ask)
SizeScores_df['Total Students'] = [item.replace(",", "") for item in SizeScores_df['Total Students']]
SizeScores_df['Total Students']=SizeScores_df['Total Students'].astype(int)
SizeScores_df['% Passing Math'] = (MathSUM_df['math_score'].count()/SchoolSUM_df['math_score'].count())*100
SizeScores_df['% Passing Reading'] = (ReadingSUM_df['reading_score'].count()/SchoolSUM_df['reading_score'].count())*100
SizeScores_df['% Overall Passing'] = (BothSUM_df['school_name_x'].count()/SchoolSUM_df['school_name'].count())*100
SizeScores_df['Average Math Score'] =  SchoolSUM_df['math_score'].sum()/SchoolSUM_df['math_score'].count()
SizeScores_df['Average Reading Score'] = SchoolSUM_df['reading_score'].sum()/SchoolSUM_df['reading_score'].count()

#Create the column applying the bins and lables
SizeScores_df["School Size"] = pd.cut(SizeScores_df["Total Students"], bins, labels=group_names, include_lowest=True)

# delete unneeded columns
del SizeScores_df['School Type']
del SizeScores_df['Total Students']
del SizeScores_df['Per Student Budget']
del SizeScores_df['Total School Budget']

# Groupby to get the chart
SizeScores_df = SizeScores_df.groupby("School Size").mean()
#put the formatting back
SizeScores_df['Average Math Score'] = SizeScores_df['Average Math Score'].map("{:,.2f}".format)
SizeScores_df['Average Reading Score'] = SizeScores_df['Average Reading Score'].map("{:,.2f}".format)
SizeScores_df['% Passing Math'] = SizeScores_df['% Passing Math'].map("{:,.2f}%".format)
SizeScores_df['% Passing Reading'] = SizeScores_df['% Passing Reading'].map("{:,.2f}%".format)
SizeScores_df['% Overall Passing'] = SizeScores_df['% Overall Passing'].map("{:,.2f}%".format)
SizeScores_df = SizeScores_df.style.set_properties(**{'text-align': 'center'})
SizeScores_df

## Scores by School Type

* Perform the same operations as above, based on school type

In [350]:
# nice trick question after the last two
# Make a new dataframe from the School Sum
TypeScores_df = pd.DataFrame(Ssum_df.copy())
# I've got to get the dollar sign and percent signs out of the columns and make integers
# I'm basically having to recalculate everything to get integers (don't like it but satisfies the ask)
TypeScores_df['% Passing Math'] = (MathSUM_df['math_score'].count()/SchoolSUM_df['math_score'].count())*100
TypeScores_df['% Passing Reading'] = (ReadingSUM_df['reading_score'].count()/SchoolSUM_df['reading_score'].count())*100
TypeScores_df['% Overall Passing'] = (BothSUM_df['school_name_x'].count()/SchoolSUM_df['school_name'].count())*100
TypeScores_df['Average Math Score'] =  SchoolSUM_df['math_score'].sum()/SchoolSUM_df['math_score'].count()
TypeScores_df['Average Reading Score'] = SchoolSUM_df['reading_score'].sum()/SchoolSUM_df['reading_score'].count()

# delete unneeded columns
del TypeScores_df['Total Students']
del TypeScores_df['Per Student Budget']
del TypeScores_df['Total School Budget']

# Groupby to get the chart
TypeScores_df = TypeScores_df.groupby("School Type").mean()
# #put the formatting back
TypeScores_df['Average Math Score'] = TypeScores_df['Average Math Score'].map("{:,.2f}".format)
TypeScores_df['Average Reading Score'] = TypeScores_df['Average Reading Score'].map("{:,.2f}".format)
TypeScores_df['% Passing Math'] = TypeScores_df['% Passing Math'].map("{:,.2f}%".format)
TypeScores_df['% Passing Reading'] = TypeScores_df['% Passing Reading'].map("{:,.2f}%".format)
TypeScores_df['% Overall Passing'] = TypeScores_df['% Overall Passing'].map("{:,.2f}%".format)
TypeScores_df = TypeScores_df.style.set_properties(**{'text-align': 'center'})
TypeScores_df